<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
<title>组设备</title>
</head>

<body>

	<div
		th:replace="fragments/header :: header(${devGroup.name},${user.name})">header</div>

	<br />
	<div class="container">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-ele-tab"
					data-toggle="tab" href="#nav-ele" role="tab"
					aria-controls="nav-ele" aria-selected="true">电器</a> <a
					class="nav-item nav-link" id="nav-climate-tab" data-toggle="tab"
					href="#nav-climate" role="tab" aria-controls="nav-climate"
					aria-selected="false">仪表</a> <a class="nav-item nav-link"
					id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab"
					aria-controls="nav-model" aria-selected="false">模式</a>
			</div>
		</nav>

		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-ele" role="tabpanel"
				aria-labelledby="nav-ele-tab">
				<!--电器page-->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">名称</th>
							<th scope="col">操作</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="dev : ${listDevState}" 
							th:id="'tr-'+${dev.longCoding}">
							<td th:text="${dev.name}">设备名</td>
							<td>
								<div class="btn-group btn-group-sm" role="group">
									<button th:id="'btnOn-'+${dev.longCoding}" 
										th:data-long-coding="${dev.longCoding}"
										type="button"
										class="btn btn-outline-secondary btn-on-dev active">开</button>
									<button th:id="'btnAuto-'+${dev.longCoding}" 
										th:data-long-coding="${dev.longCoding}"
										type="button"
										class="btn btn-outline-secondary btn-auto-dev">自动</button>
									<button th:id="'btnOff-'+${dev.longCoding}" 
										th:data-long-coding="${dev.longCoding}"
										type="button"
										class="btn btn-outline-secondary btn-off-dev">关</button>
								</div>
							</td>
							<td><a class="link dev" href="#" th:data-long-coding="${dev.longCoding}">
									<span data-feather="bar-chart"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-climate" role="tabpanel"
				aria-labelledby="nav-climate-tab">
				<!--仪表page-->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">名称</th>
							<th scope="col">值</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dev : ${listDevCollect}" id="'tr_'+${dev.longCoding}">
							<td th:text="${dev.name}">温度</td>
							<td id="'tdValue_'+${dev.longCoding}"
								th:text="${dev.collectProperty.valueWithSymbol}">26℃</td>
							<td id="'cm_'+${dev.longCoding}">远程</td>
							<td><a class="link dev" href="#" title="${dev.longCoding}">
									<span data-feather="bar-chart"></span>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="nav-model" role="tabpanel"
				aria-labelledby="nav-model-tab">
				<!--模式page-->
				<br />
				<div class="row">
					<!-- 						<div class="col-lg-2 col-md-3 col-sm-4 col-6"> -->
					<!-- 							<div class="card " style="width: 120px"> -->
					<!-- 								<img id="d1_img" class="card-img-top bg-success " src="img/home.jpg" style="height: 60px"></img> -->
					<!-- 								<div class="card-footer text-muted btn" type="button"> -->
					<!-- 									<div class="row justify-content-center"> -->
					<!-- 										<span>回&nbsp;&nbsp;家</span> -->
					<!-- 									</div> -->
					<!-- 								</div> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
				</div>
			</div>

		</div>
	</div>

	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script>

	<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>

	<script src="/js/group.js"></script>
</body>

</html>